<mat-card>
<h2>Your Profile Details</h2>

<mat-card-content>
<div clas="bootstrap-wrapper">
    <div class="container">
        <div class="container text-center">
            <img src="../../../assets/ben-parker-OhKElOkQ3RE-unsplash.jpg" alt="" class="profimage">
            
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table text-center">
                    <tr>
                        <td>username </td>
                        <td> Aafthab001 </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Aafthab</td>

                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>9968753071</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>ADMIN</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

</mat-card-content>
</mat-card>