<div class="bootstrap-wrapper">
    <div class=img>
        
            <div class="col text-center">
                <br/><br/><br/><br/><br/><br/> <br/><br/><br/> <br/>
                <mat-card>
                <div class="container "  >
                    
                    <h1 class="decoration"> To Book an appointments with docter click here:</h1>
                </div>
            </mat-card><br/>
                <button mat-raised-button center  routerLink="/patient-appointment-form" >Book Now</button>
            
            </div>
        
        
    </div>
    
</div>
       
                
        

   

